@import '../../../node_modules/bootstrap/scss/mixins';

.main-footer {

  background: $black url(#{$img-path}#{$bg-footer}) 50% 50% no-repeat;
  background-size: cover;
  color: $gray;
  padding: 7rem 0 2rem;

  @include media-breakpoint-down(md) {
    background: $black url(#{$img-path}#{$bg-footer-md}) 50% 50% no-repeat;
    background-size: cover;
  }

  p {
    font-size: 1rem;
    padding-top: 6rem;
  }
}

.social-links {
  background: transparent url(#{$img-path}#{$bg-dot}) 0 0 repeat-x;
  display: inline-block;
  margin-top: 1rem;
  padding-top: 1rem;
}
