@import '../../../node_modules/bootstrap/scss/mixins';
@import "compass";

.logo {
  color: $white;
  display: inline-block;
  float: left;
  margin-top: 14px;
  position: relative;
  > .svg-logo {
    fill: currentColor;
  }
  z-index: 9;
}

.ico-hamburger {
  background-color: $white;
  -webkit-mask: url(#{$img-path}#{$ico-hamburger}) center center / cover;
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  display: inline-block;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 9;
}

.ico-close {
  background-color: $white;
  -webkit-mask: url(#{$img-path}#{$ico-close}) center center / cover;
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  display: none;
  height: 20px;
  width: 20px;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 9;
}

.show-menu {
  .nav-status {
    display: block;
  }

  .navbar-mobile {
    @include transform(translate3d(0 ,0 , 0));
    @include transition(all 0.2s ease-in);
  }

  .ico-close {
    display: block;
  }

  .ico-hamburger {
    display: none;
  }
}

.main-header {
  background: $bg-header;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 9;
}

@include media-breakpoint-down(md) {
  .main-nav {
    background: $bg-header;
    list-style: none;
    left: -10px;
    position: fixed;
    right: -10px;
    top: 50px;
    z-index: 8;

    @include transform(translate3d(0 , -200%, 0));
    @include transition(all 0.3s ease-in-out);

    > li {
      display: block;
      text-align: center;
    }
    a {
      font-size: 2rem;
      color: $white;
      display: inline-block;
      padding: 1.6rem 0;
      width: 100%;
    }
  }
  .nav-header {
    background: $bg-header;
    display: block;
    height: 50px;
    position: relative;
    z-index: 8;
  }
  .nav-status {
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    height: 100%;
    position: fixed;
    right: 0;
    top: 50px;
    width: 100%;
    z-index: 7;
  }

  .show-menu {

    .main-nav {
      @include transform(translate3d(0 , 0, 0));
      @include transition(all 0.3s ease-in-out);
    }
  }
}


@include media-breakpoint-up(lg) {
  .main-nav {
    display: inline-block;
    float: left;
    list-style: none;
    margin-left: 85px;
    > li {
      display: inline-block;
      float: left;

      a {
        color: $white;
        display: inline-block;
        font-size: $fs-nav;
        line-height: 50px;
        padding: 0 25px;
        text-transform: uppercase;
        &.active {
          background-color: $black;
          &:hover {
            color: $white;
          }
        }
        &:hover {
          color: lighten($black, 10%);
        }
      }
    }
  }
}
