$grid-gutter-width-base: 20px;

$grid-breakpoints: (
  xs: 0,
  md: 768px,
  lg: 992px
);

$container-max-widths: (
  md: 720px,
  lg: 960px
);

/*  HEADER  */

$bg-header: #5a5a5a;

/* COLORS */
$black: #000;
$white: #fff;
$gray:  #bdbdbd;


/* IMAGES */
$img-path:      '../images/';
$bg-repeater:   'bg-repeater.jpg';
$bg-topbar:     'bg-topbar.jpg';
$bg-topbar-md:  'bg-topbar-md.jpg';
$bg-footer:     'bg-footer.jpg';
$bg-footer-md:  'bg-footer-md.jpg';
$logo-prize:    'logo-prize.png';
$logo-prize-md: 'logo-prize-md.png';
$ico-social:    'ico-social.png';
$bg-dot:        'ico-dot.png';

$bg-middle:     'bg-middle.jpg';
$bg-middle-md:  'bg-middle-md.jpg';

$ico-hamburger: 'ico-hamburger.svg';
$ico-close:     'ico-close.svg';
/* FONTS SIZE */

$fs-base:         16px;
$fs-base-mobile:  10px;
$fs-hero:         3.55rem;
$fs-hero-md:      2.2rem;
$fs-hero-sub:     1.5rem;
$fs-hero-sub-md:  1.1rem;

$fs-sub:          3.125rem;

$fs-main:         1.25rem;
$fs-nav:          1rem;

/*  VIDEO */
$bg-video:      #5a5a5a;
