@import "compass";

// Project Variables and Mixins
@import "variables";
@import "mixins";

// Bootstrap Variables
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';
@import '../../../node_modules/bootstrap/scss/utilities/clearfix';
@import '../../../node_modules/bootstrap/scss/_grid';
@import '../../../node_modules/bootstrap/scss/utilities/flex';
@import '../../../node_modules/bootstrap/scss/utilities/visibility';

@include fontFace('HyundaiSansHead-Light', '../fonts/HyundaiSansHead-Light');

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: $fs-base-mobile;
  @include media-breakpoint-up(md) {
    font-size: $fs-base;
  }
}

body {
  background-color: $black;
  font: normal $fs-main/normal "HyundaiSansHead-Light", Arial;
}

h1, h2, h3 {
  font-weight: normal;
}

a {
  text-decoration: none;
  @include transition(color 0.3s ease-in);
  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.bdr-top {
  border-top: 1px solid $white;
}

.img-fluid {
  @include img-fluid;
}

.ico-social {
  display: inline-block;
  height: 44px;
  margin: 0 12px;
  position: relative;
  text-indent: -999999px;
  width: 44px;
  &:after {
    background: transparent url(#{$img-path}#{$ico-social}) 0 0 no-repeat;
    content: " ";
    display: inline-block;
    left: 0;
    height: 44px;
    position: absolute;
    top: 0;
    width: 44px;
  }
  &.facebook {
    &:after {
      background-position: 0 0;
    }
  }
  &.instagram {
    &:after {
      background-position: -68px 0;
    }
  }
  &.twitter {
    &:after {
      background-position: -135px 0;
    }
  }
}
