@import "variables";
@import "header";
@import "footer";

@import '../../../node_modules/bootstrap/scss/mixins';

.logo-prize {
  background: transparent url(#{$img-path}#{$logo-prize-md}) 0 0 no-repeat;
  display: inline-block;
  height: 150px;
  width: 154px;
  @include media-breakpoint-up(md) {
    background: transparent url(#{$img-path}#{$logo-prize}) 0 0 no-repeat;
    height: 218px;
    width: 225px;
  }
}

.hero-title {
  font-size: $fs-hero-md;
  @include media-breakpoint-up(md) {
    font-size: $fs-hero;
  }
}

.hero-sub-title {
  font-size: $fs-hero-sub-md;
  @include media-breakpoint-up(md) {
    font-size: $fs-hero-sub;
  }
}

.sub-title {
  font-size: $fs-sub;
}

.main-container {
  background: url(#{$img-path}#{$bg-repeater}) 0 0 repeat;
  padding-top: 50px;
}

.topbar {
  background: transparent url(#{$img-path}#{$bg-topbar-md}) 0 -35px no-repeat;
  background-size: contain;
  color: $white;
  padding: 5rem 0 6.5rem;
  padding-bottom: 0;
  position: relative;

  @include media-breakpoint-up(md) {
    background: transparent url(#{$img-path}#{$bg-topbar}) 0 0 no-repeat;
    background-size: cover;
    padding: 5rem 0 6.5rem;
  }

  @media (min-width: 520px) {
    background-size: cover;
  }

  .hero-title {
    padding-top: 4rem;
  }

  .hero-sub-title {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.5rem 0 0 0;
  }

  p {
    margin-top: 3rem;
  }

  .video-block {
    margin-top: 5rem;
    @include media-breakpoint-down(md) {
      margin-top: 3rem;
      position: relative;
      height: 400px;
      width: 600px;
      > iframe {
        width: 100%;
        height: 100%;
      }
    }
    > iframe {
      float: left;
    }

    @media (max-width: 620px) {
        height: 260px;
        width: 460px;
    }

    @media (max-width: 480px) {
      height: auto;
      width: auto;
    }


  }


}

.video-block {
  background: $bg-video;
  display: inline-block;
  padding: 12px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.8);
  > img {
    float: left;
  }
  @include media-breakpoint-down(md) {
    box-shadow: none;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 3rem;
  }
}

.middle-block {
  background: $white url(#{$img-path}#{$bg-middle-md}) 50% 50% no-repeat;
  background-size: cover;
  color: $black;
  padding: 6rem 0 11rem;

  @include media-breakpoint-up(md) {
    background: $white url(#{$img-path}#{$bg-middle}) 50% 50% no-repeat;
    background-size: cover;

    .sub-title {
      padding-top: 6rem;
    }
  }

  .sub-title {
    padding-bottom: 4rem;
  }

  p + p {
    padding-top: 2rem;
  }
}
