/*  HEADER  */
/* COLORS */
/* IMAGES */
/* FONTS SIZE */
/*  VIDEO */
.logo {
  color: #fff;
  display: inline-block;
  float: left;
  margin-top: 14px;
  position: relative;
  z-index: 9;
}
.logo > .svg-logo {
  fill: currentColor;
}

.ico-hamburger {
  background-color: #fff;
  -webkit-mask: url(../images/ico-hamburger.svg) center center/cover;
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  display: inline-block;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 9;
}

.ico-close {
  background-color: #fff;
  -webkit-mask: url(../images/ico-close.svg) center center/cover;
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  display: none;
  height: 20px;
  width: 20px;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 9;
}

.show-menu .nav-status {
  display: block;
}
.show-menu .navbar-mobile {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.show-menu .ico-close {
  display: block;
}
.show-menu .ico-hamburger {
  display: none;
}

.main-header {
  background: #5a5a5a;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 9;
}

@media (max-width: 991px) {
  .main-nav {
    background: #5a5a5a;
    list-style: none;
    left: -10px;
    position: fixed;
    right: -10px;
    top: 50px;
    z-index: 8;
    -moz-transform: translate3d(0, -200%, 0);
    -ms-transform: translate3d(0, -200%, 0);
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0);
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .main-nav > li {
    display: block;
    text-align: center;
  }
  .main-nav a {
    font-size: 2rem;
    color: #fff;
    display: inline-block;
    padding: 1.6rem 0;
    width: 100%;
  }

  .nav-header {
    background: #5a5a5a;
    display: block;
    height: 50px;
    position: relative;
    z-index: 8;
  }

  .nav-status {
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    height: 100%;
    position: fixed;
    right: 0;
    top: 50px;
    width: 100%;
    z-index: 7;
  }

  .show-menu .main-nav {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
@media (min-width: 992px) {
  .main-nav {
    display: inline-block;
    float: left;
    list-style: none;
    margin-left: 85px;
  }
  .main-nav > li {
    display: inline-block;
    float: left;
  }
  .main-nav > li a {
    color: #fff;
    display: inline-block;
    font-size: 1rem;
    line-height: 50px;
    padding: 0 25px;
    text-transform: uppercase;
  }
  .main-nav > li a.active {
    background-color: #000;
  }
  .main-nav > li a.active:hover {
    color: #fff;
  }
  .main-nav > li a:hover {
    color: #1a1a1a;
  }
}
.main-footer {
  background: #000 url(../images/bg-footer.jpg) 50% 50% no-repeat;
  background-size: cover;
  color: #bdbdbd;
  padding: 7rem 0 2rem;
}
@media (max-width: 991px) {
  .main-footer {
    background: #000 url(../images/bg-footer-md.jpg) 50% 50% no-repeat;
    background-size: cover;
  }
}
.main-footer p {
  font-size: 1rem;
  padding-top: 6rem;
}

.social-links {
  background: transparent url(../images/ico-dot.png) 0 0 repeat-x;
  display: inline-block;
  margin-top: 1rem;
  padding-top: 1rem;
}

.logo-prize {
  background: transparent url(../images/logo-prize-md.png) 0 0 no-repeat;
  display: inline-block;
  height: 150px;
  width: 154px;
}
@media (min-width: 768px) {
  .logo-prize {
    background: transparent url(../images/logo-prize.png) 0 0 no-repeat;
    height: 218px;
    width: 225px;
  }
}

.hero-title {
  font-size: 2.2rem;
}
@media (min-width: 768px) {
  .hero-title {
    font-size: 3.55rem;
  }
}

.hero-sub-title {
  font-size: 1.1rem;
}
@media (min-width: 768px) {
  .hero-sub-title {
    font-size: 1.5rem;
  }
}

.sub-title {
  font-size: 3.125rem;
}

.main-container {
  background: url(../images/bg-repeater.jpg) 0 0 repeat;
  padding-top: 50px;
}

.topbar {
  background: transparent url(../images/bg-topbar-md.jpg) 0 -35px no-repeat;
  background-size: contain;
  color: #fff;
  padding: 5rem 0 6.5rem;
  padding-bottom: 0;
  position: relative;
}
@media (min-width: 768px) {
  .topbar {
    background: transparent url(../images/bg-topbar.jpg) 0 0 no-repeat;
    background-size: cover;
    padding: 5rem 0 6.5rem;
  }
}
@media (min-width: 520px) {
  .topbar {
    background-size: cover;
  }
}
.topbar .hero-title {
  padding-top: 4rem;
}
.topbar .hero-sub-title {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.5rem 0 0 0;
}
.topbar p {
  margin-top: 3rem;
}
.topbar .video-block {
  margin-top: 5rem;
}
@media (max-width: 991px) {
  .topbar .video-block {
    margin-top: 3rem;
    position: relative;
    height: 400px;
    width: 600px;
  }
  .topbar .video-block > iframe {
    width: 100%;
    height: 100%;
  }
}
.topbar .video-block > iframe {
  float: left;
}
@media (max-width: 620px) {
  .topbar .video-block {
    height: 260px;
    width: 460px;
  }
}
@media (max-width: 480px) {
  .topbar .video-block {
    height: auto;
    width: auto;
  }
}

.video-block {
  background: #5a5a5a;
  display: inline-block;
  padding: 12px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.8);
}
.video-block > img {
  float: left;
}
@media (max-width: 991px) {
  .video-block {
    box-shadow: none;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 3rem;
  }
}

.middle-block {
  background: #fff url(../images/bg-middle-md.jpg) 50% 50% no-repeat;
  background-size: cover;
  color: #000;
  padding: 6rem 0 11rem;
}
@media (min-width: 768px) {
  .middle-block {
    background: #fff url(../images/bg-middle.jpg) 50% 50% no-repeat;
    background-size: cover;
  }
  .middle-block .sub-title {
    padding-top: 6rem;
  }
}
.middle-block .sub-title {
  padding-bottom: 4rem;
}
.middle-block p + p {
  padding-top: 2rem;
}
